
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.table-o{
	background-color: #ffffff;
	text-align:left;
}

.cp_tab {
	display: block;
	display: -webkit-flex;
	display:         flex;
	-webkit-flex-wrap: wrap;
	        flex-wrap: wrap;
	margin: 1em auto;
	overflow: hidden;
}
.cp_tab input[type='radio'] {
	border-bottom: 1px solid rgba(239, 237, 239, 0.5);
	cursor: pointer;
	-webkit-appearance: none;
	        appearance: none;
	display: block;
	width: 100%;
	outline: none;
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.cp_tab .cp_tabpanels label {
	cursor: pointer;
	display: block;
	line-height: 1em;
	padding: 2rem 0;
	text-align: center;
}
.cp_tab [type="radio"]:hover,
.cp_tab [type='radio']:focus {
	border-bottom: 1px solid #ff8000;
}
.cp_tab [type='radio']:checked {
	border-bottom: 2px solid #ff8000;
}
.cp_tab [type='radio']:checked + .cp_tabpanel {
	opacity: 1;
}
.cp_tab [type='radio'] + .cp_tabpanel {
	display: block;
	opacity: 0;
	padding: 2rem 0;
	width: 90%;
	-webkit-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.cp_tab .cp_tabpanels {
	width: 50%;
}
.cp_tab .cp_tabpanels [type='radio'] + .cp_tabpanel {
	width: 200%;
	margin-left: 200%;
}
.cp_tab .cp_tabpanels [type='radio']:checked + .cp_tabpanel {
	margin-left: 0;
}
.cp_tab .cp_tabpanels:last-child [type='radio'] + .cp_tabpanel {
	margin-left: 100%;
}
.cp_tab .cp_tabpanels:last-child [type='radio']:checked + .cp_tabpanel {
	margin-left: -100%;
}


/* 並び替え */
.cp_ipselect {
	display: inline-block;
	position: relative;
	width: 23%;
	margin: 1em auto;
	text-align: center;
	margin-left:15px;
}
.cp_sl06 {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 100%;
	padding: 10px 10px 10px 0;
	font-size: 14px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.3);
}
.cp_sl06:focus {
	outline: none;
	border-bottom: 1px solid rgba(0,0,0, 0);
}
.cp_ipselect .cp_sl06 {
	appearance: none;
	-webkit-appearance:none
}
.cp_ipselect select::-ms-expand {
	display: none;
}
.cp_ipselect:after {
	position: absolute;
	top: 18px;
	right: 10px;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.3);
	pointer-events: none;
}
.cp_sl06_selectlabel {
	color: rgba(0,0,0, 0.5);
	font-size: 14px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	transition: 0.4s ease all;
}
.cp_sl06:focus ~ .cp_sl06_selectlabel, .cp_sl06:valid ~ .cp_sl06_selectlabel {
	color: #ff8000;
	top: -20px;
	transition: 0.4s ease all;
	font-size: 14px;
}
.cp_sl06_selectbar {
	position: relative;
	display: block;
	width: 100%;
}
.cp_sl06_selectbar:before, .cp_sl06_selectbar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #ff8000;
	transition: 0.4s ease all;
}
.cp_sl06_selectbar:before {
	left: 50%;
}
.cp_sl06_selectbar:after {
	right: 50%;
}
.cp_sl06:focus ~ .cp_sl06_selectbar:before, .cp_sl06:focus ~ .cp_sl06_selectbar:after {
	width: 50%;
}
.cp_sl06_highlight {
	position: absolute;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* 検索 */
.cp_iptxt {
	position: relative;
	top: 2.5px;
	width: 38%;
	margin: 1em 3%;
	display: inline-block;
	margin-right :-1px;
}
.cp_iptxt input[type='text'] {
	font: 14px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 4.5em;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
.ef {
	padding: 4px 0;
	border: 0;
	border-bottom: 1.2px solid rgba(0, 0, 0, 0.3);
	background-color: transparent;
}
.ef ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #ff8000;
}
.ef ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #ff8000;
}
.ef:focus ~ .focus_line,
.cp_iptxt.ef ~ .focus_line {
	left: 0;
	width: 100%;
	transition: 0.4s;
}
.ef ~ label {
	position: absolute;
	z-index: -1;
	top: 4px;
	left: 0;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: rgba(0, 0, 0, 0.3);
}
.ef:focus ~ label, .cp_iptxt.ef ~ label {
	font-size: 14px;
	top: -16px;
	transition: 0.3s;
	color: #ff8000;
}



/* チェックボックス */
.cp_ipcheck {
	width: 100%;
	text-align: center;
}

.cp_ipcheck .list_item {
	width: 100%;
	padding: 0;
	margin-right:7px;
	text-align: center;
}

.cp_ipcheck .option-input06 {
	position: relative;
    cursor: pointer;
	outline: none;
	-webkit-appearance: none;
}
.cp_ipcheck .option-input06:before, .option-input06:after {
	position: absolute;
	z-index: 1;
	left: -1rem;
	width: 1rem;
	height: 1rem;
	content: '';
	-webkit-transition: -webkit-transform 0.4s ease-in-out, border-top 0.4s ease-in-out, border-bottom 0.4s ease-in-out, border-left 0.1s 0.3s ease-in-out, border-right 0.1s 0.3s ease-in-out;
	        transition:         transform 0.4s ease-in-out, border-top 0.4s ease-in-out, border-bottom 0.4s ease-in-out, border-left 0.1s 0.3s ease-in-out, border-right 0.1s 0.3s ease-in-out;
	-webkit-transform: translateX(0) translateY(-0.5rem);
	        transform: translateX(0) translateY(-0.5rem);
	border: 2px solid #f2f2f2;
	border-top-style: none;
	border-right-style: none;
}
.cp_ipcheck .option-input06:after {
	z-index: 0;
	border: 2px solid #f2f2f2;
	border-bottom-style: none;
	border-left-style: none;
}
.cp_ipcheck .option-input06:checked:before {
	-webkit-transform: rotate(-45deg) translateX(0.25rem) translateY(-0.75rem);
	        transform: rotate(-45deg) translateX(0.25rem) translateY(-0.75rem);
	border-color: #000080;
	border-left-style: none;
}
.cp_ipcheck .option-input06:checked:after {
	-webkit-transform: rotate(45deg) translateX(-0.25rem) translateY(0.25rem);
	        transform: rotate(45deg) translateX(-0.25rem) translateY(0.25rem);
	border-color: #000080;
	border-right-style: none;
}


#del1 th, #del2 th{
	height:40px;
	margin:0;
  	padding:0;
  	border:none;
}


#del1, #del2 {
	height:40px;
	background: #fffed0;
	margin:0;
 	 padding:0;
}

.btn-top-radius {
  position: relative;
  display: none;
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  text-decoration: none;
  color: #ffffff;
  background: #000080;
  border-bottom: solid 0px #000080;
  border-radius: 15px 15px 0 0;
  transition: .4s;
}

.btn-top-radius:hover {
  background: #000040;
  color: #FFF;
}

.fa-arrow-alt-circle-left{
	font-size: 1.5em;
}

/* ボタン  */
.pagelink{
  text-align:center;
  display: inline-block;
}

.cp_btn {
   color: #ff8000;
  position: relative;
  display: inline-block;
  margin:0 5px;
  border-bottom: 1px solid rgba(0,0,0, 0.3);
  padding: .5rem .5rem .5rem .5rem;
  transition: all .3s;

}

.cp_btn:before, .cp_btn:after{
    content: '';
    position: absolute;
    transition: all .3s;
  }


 .cp_btn:after{
    opacity:0;
    bottom:0;
    left:0;
    height:5%;
    width:0;
    background:#ff8000;
  }

.cp_btn:hover {
   /*  letter-spacing:3px; */
	border:0px;
  }

/* .cp_btn:hover:before{
      right:5px;
    } */
.cp_btn:hover:after{
      opacity:1;
      width:100%;
    }


