* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;

}

body,head{
  background: #fffed0;
  margin: 20px 20px;
  text-align: left;
 /*  text-align: center; */
}

button{
	text-decoration: none;
	background: transparent;
	border:none;
}
a:hover{
 font-weight: bold;
 }

a{
color: black;
/* text-align: center; */
}

td {
vertical-align: middle;
}

.nohit{
 display: none;
}

table{
	width:100%
}


