.favorite-btn.active {
            background-color: #ff844c;
        }
.favorite-btn{
            background-color: #b5b5b5;
        }

.nohit{
 display: none;
}

.s1{
	width :30px;
	height:30px;
	font-size: 0px;
	border-radius:10px;
}
.type-drop{
	border:0px;
   outline:none;
}
#bookList{
	width:80%;

}

.table-r{
	background-color: #ffb8c2;
}
.table-g{
	background-color: #b8edb7;
}
.table-b{
	background-color: #b7e5ff;
}
.table-y{
	background-color: #f3ffb7;
}
.table-d{
	background-color: #c1c3c4;
}
.table-s{
	background-color: #a4ede4;
}

.circle_spread_btn {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #e9e9e9;
	border-radius: 50%;
}
.circle_spread_btn:hover {
	 cursor: pointer;
	 text-decoration: none;
	text-align: center;
	 transition: transform .3s;
	transform-origin: center;
	transform: scale(0.9, 0.9);
	opacity: 0.6;
}
.circle_spread_btn::after {
    display: inline-block;
    content: "";
    width: 38px;
    height: 38px;
    position: absolute;
	 border-radius: 50%;
	color:#fff;
	 top: -0.4px;
	 left: -0.4px;
    border: 0.6px solid #ff844c;
	 transition: transform .5s ease;
	visibility: hidden;
}
.circle_spread_btn:hover::after {
	 cursor: pointer;
	 text-decoration: none;
	 transition: transform .5s ease;
	transform-origin: center;
	transform: scale(1.4, 1.4);
	opacity: 0.7;
	visibility: visible;
}
.